body {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

h2 {
    margin: 0;
    padding: 0;
}

.back__fon__375px {
    position: absolute;
    left: 29px;
    top: -2242px;
    width: 316.5px;
    height: 478px;
}

@media (max-width:375px) {
    .back__fon__375px {
        position: absolute;
        left: 29px;
        top: 242px;
        width: 316.5px;
        height: 478px;
    }
}

.wrapper {
    max-width: 965px;
	margin: 0 auto;
    overflow-x: hidden;
}

.header__menu {
    margin-top: 33px;
    
}

@media (max-width:375px) {
    .header__menu {
        display: none;
    }
}
 
.menu__link {
    margin-right: 120px;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width:800px) {
    .menu__link {
        margin-right: 100px;
    }
}
    
.vector {
    margin-top: 31px;
    height: 0;
    border: 1px solid #828282;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

@media (max-width:375px) {
    .vector {
        display: none;
    }
}

.menu__link:last-child {
    margin: 0;
}

.menu__link:hover {
    color: #070707;
}


/*---------------------MAIN-------------*/
.My__mame {

}

@media (max-width:375px) {
    .main{
        max-width: 375px;;
    }
}
.country {
    display:inline-block;
   margin-left: 370px;
}

@media (max-width:375px) {
    .country{
    font-size: 18px;
    line-height: 22px;
    margin-left: 28px;
    margin-top: 23px;
    color: #090909;

    }
}

.name {
    display: inline-block;
    width: 50px;
    font-size: 47.3392px;
    line-height: 59px;
    color: #070707;
    margin-top: 40px;  
}

@media (max-width:375px) {
    .name{
    font-size: 47px;
    line-height: 58px;
    padding-left: 26px;
    color: #000000;
    }
}

.background__img {
    margin-top: 50px;
}

.background__img h2 {
    color: white;
    text-decoration: none;
}

.background__img a {
    text-decoration: none;
}

.background__img img {
    margin-bottom: 120px;
    width: 100%;
    height: 386px;
}

@media (max-width:375px) {
    .background__img img {
        width: 0;
    }
}

/*-------------------------------ABOUT ME ------------------*/

.about__me {
    width: 100%;
    height: 506px;
    background-color: #F6F6F6;;
}

@media (max-width:375px) {
    .about__m{
        max-width: 375px;;
    }
}

.text-title {
    display: block;
    text-align: center;
}

.about-text {
    padding-top: 120px;
}

@media (max-width:375px) {
    .about-text{
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    }
}


.text-1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 55px;
    line-height: 22px;
    color: #070707;;
}
@media (max-width:375px) {
    .text-1{
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        margin-bottom: 49px;
        color: #000000;
        padding-right: 10px;
        padding-left: 10px;
    }
}

.text-2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 55px;
    line-height: 22px;
    color: #070707;
}
@media (max-width:375px) {
    .text-2{
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        margin-bottom: 49px;
        color: #000000;
        padding-right: 10px;
        padding-left: 10px;
    }
}

.text-3 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    color: #070707;;
}
@media (max-width:375px) {
    .text-3{
    font-size: 16px;
    padding-right: 30px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    padding-right: 10px;
    padding-left: 10px;
    }
}

/* @media (max-width:375px) {
    .text-1 {
        position: absolute;
        left: 50px;
        width: 316px;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        
        color: #000000;
    }
} */


/*-------------------------------------------Skils-------------------------*/

.skills {
}

@media (max-width:375px) {
    .skills {
        margin: 0 auto;
        max-width: 375px;    
    }
}
.text__title {
    text-align: center;
    margin-top: 198px;
}

.skills__text {
    font-weight: bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
}
@media (max-width:1000px) {
    .skills__text {
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    }
}

@media (max-width:1000px) {
    .skills__item {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    }
}

.skills__item {
    padding-top: 70px;
    font-family: 'Times New Roman', Times, serif;
}

@media (max-width:1000px) {
    .skills__item {
        padding-top: 50px;
    }
}





.group__skils {
    padding-top: 75px;
    margin-bottom: 110px;
}

@media (max-width:1000px) {
    .group__skils {
        padding-top: 0px;
        text-align: center;
        
    }
}

@media (max-width:375px) {
    .img__last {
        display: block;
        position: relative;
        
    }
}

.img__last-1 {
    margin-right: 90px;
}
.img__last-2 {
    margin-right: 90px;
}
.img__last-3 {
    margin-right: 90px;
}

@media (max-width:375px) {
    .img__last-1 {
        display: block;
        position: relative;
        width: 166px;
        height: 206px;
        left: 28%;
        margin-top: 81px;   
        margin-right: 0px;
    }
}
@media (max-width:375px) {
    .img__last-2 {
        display: block;
        position: relative;
        width: 166px;
        height: 206px;
        left: 28%;
        margin-top: 81px;
        margin-right: 0px;  
    }
}
@media (max-width:375px) {
    .img__last-3 {
        display: block;
        position: relative;
        width: 166px;
        height: 206px;
        left: 28%;
        margin-top: 81px; 
        margin-right: 0px;   
    }
}

@media (max-width:375px) {
    .img__last-4 {
        display: block;
        position: relative;
        width: 166px;
        height: 206px;
        left: 28%;
        margin-top: 81px;
        margin-right: 0px; 
    }
}


/* @media (max-width:700px) {
    .group__skils {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
} */


.img__last {
    margin-right: 90px;
}

@media  (max-width:1000px) {
    .img__last {
    margin-right: 80px;
    }
}

@media (max-width:375px) {
    .img__last {
        display: inline;
        position: absolute;
    }
}

@media  (max-width:700px) {
    .img__last:last-child {
    margin-right: 80px;
    }
}
@media  (max-width:700px) {
    .img__last {
    margin-right: 0px;
    }
}
@media  (max-width:5000px) {
    .img__last:last-child {
        margin: 0px;
    }
}


/*-----------------------Portfolio--------------------*/
.portfolio {
    background-color: #F6F6F6;
    height: 2253px;
}

@media (max-width:375px) {
    .portfolio{
        text-align: center;
        margin: 0 auto;
        width: 374px;
        height: 1200px;
    }
}

.portfolio__text {
    margin-bottom: 50px;
    padding-top: 112px;
    text-align: center;
    font-size: 34px;
    line-height: 42px;
    font-weight: bold;
}

@media (max-width:375px) {
    .portfolio__text{
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    }
}

.window-1 h2 {
    margin-top: 45px;
    margin-bottom: 100px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: black;
}

.window-1 a {
    color: black;
}

@media (max-width:375px) {
    .window-1 img{
        width: 316px;
        height: 171px;
    }
}

@media (max-width:375px) {
    .window-1{
        text-align: center;
        margin: 0 auto;
    }
}

@media (max-width:375px) {
    .window-1 h2{
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;

    }
}

.window-2 h2 {
    margin-top: 45px;
    margin-bottom: 100px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: black;
}

.window-2 a {
    color: black;
}

.window-3 h2 {
    margin-top: 45px;
    margin-bottom: 100px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: black;
}

@media (max-width:375px) {
    .window-2 img{
        width: 316px;
        height: 171px;
    }
}

@media (max-width:375px) {
    .window-2{
        text-align: center;
        margin: 0 auto;
    }
}

@media (max-width:375px) {
    .window-2 h2{
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;

    }
}

.window-3 a {
    color: black;
}

@media (max-width:375px) {
    .window-3 img{
        width: 316px;
        height: 171px;
    }
}

@media (max-width:375px) {
    .window-3{
        text-align: center;
        margin: 0 auto;
    }
}

@media (max-width:375px) {
    .window-3 h2{
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
    margin-bottom: 500px;

    }
}

/*------------------------------------Footer--------------*/

.footer {
    width: 100%;
    height: 625px;
    
}

.footer__h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 115px;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    margin-right: 0;
}


@media (max-width:375px) {
    .footer__h2{
    padding-top: 162px;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    }
}

.footer__item {
    position: relative;
    left: 323px;
    padding-top: 20px;
    width: 335px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
}

@media (max-width:375px) {
    .footer__item{
        font-size: 17px;
        font-weight: 600;
        left: 24px;
        line-height: 22px;
        color: #090909;
    }
}

.button__footer {
    padding-top: 30px;
    text-align: center;
}
.span_footer {
   background-color: black;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 18px;
   padding: 15px 45px;
    line-height: 22px;
    font-weight: bold;
   color: white;
   border-radius: 30px;
}

@media (max-width:375px) {
    .span_footer{
        width: 316px;
        height: 42px;
        padding: 4px 85px;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
    }
}
.img__inst_1 {
    text-align: center;
}
.img__inst {
    text-align: center;
    padding-top: 85px;
}


@media (max-width:375px) {
    .img__inst{
        padding-top: 50px;
        width: 315.11px;
        height: 40.92px;
    }
}

.text_footer {
    padding-top: 45px;
    text-align: center;
    
}

.text_footer h2 {
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}




