body ,html {
    margin: 0;
    padding: 0;
    min-width: 1000px;
    box-sizing: border-box;
}

body {
    background-image: url('/Второй сайт/img/Rectangle.png');
}

.header {
    
}

.wrapper {
    width: 1100px;
    margin: 0 auto;
    padding: 10px;
}

.h1__logo h1 {
    display: inline-block;
    font-family: 'Forum', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Stick No Bills', sans-serif;
    font-style: normal;
    margin-top: 15;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
}

.h1__logo a {
    text-decoration: none;
    color: white;
}

.h1__logo h2 {
    display: inline;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
}

nav {
    float: left;
    padding-left: 567px;
    padding-bottom: 120px;
}

