body ,html {
    margin: 0;
    padding: 0;
    min-width: 1000px;
    box-sizing: border-box;
}

body {
    background-image: url('/Второй сайт/img/Rectangle.png');
}

.header {
    
}

.wrapper {
    width: 1100px;
    margin: 0 auto;
}

.h1__logo h2 {
    display: inline-block;
    font-family: 'Forum', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Stick No Bills', sans-serif;
    font-style: normal;
    margin-top: 15;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
}

.h1__logo a {
    text-decoration: none;
    color: white;
}

.h1__logo h3 {
    display: block;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
}

nav  a{

}

.header__menu{
    margin: 10px 10px 10px 10px;
}

.text__title {
    margin-top: 200px;
    text-align: center;
    align-items: center;
    width: 150px;
    margin-left: 277px;
}


.text__title pre {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #D4C17F;
}
.img__mouse {
    text-align: center;
}
.img__mouse img {
    align-items: center;
    text-align: center;
}

