body ,ht {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-image: url(/img/bkg.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    overflow: hidden;
}



.auth {
    width: 350px;
    margin: 0 auto;
    text-align: center;
}
@media (max-width:424px) {
    body {
        background-image: url(/img/bkg.jpg);
        background-size: auto;
       background-repeat: no-repeat;

    } 
}

@media (max-width:1317px) {
    body {
        background-image: url(/img/bkg.jpg);
        background-size: auto;
       background-repeat: no-repeat;
    } 
}

@media (max-width:424px) {
    .auth {
      margin-top: 180px;
      margin-left: 10px;
      margin-right: 10px;
    } 
}

h1 {
    font-size: 20px;
    color: rgb(214, 55, 55);
}

.form  {
    margin-top: 160px;
    padding: 5px;
    background-color: white;
    z-index: 5;
}

@media (max-width:424px) {
    .form {
        margin: 0px 20px 20px;
    }  
}



.form_regest {
    margin: 0 auto;
    display: block;

}

::placeholder {
    font-size: 15px;
}

input{
    outline-offset: 0;
    outline: 0;
}

input:focus {
    outline: 0;
    border-color: rgba(43, 20, 218, 0.397);
}

input:hover {
    outline: 0;
}

select {
    width: 260px;
    height: 34px;
    margin: 0 auto;
    display: block;
}

select:hover {
    outline: 0;
}
select:focus {
    outline: 0;
    border-color: rgba(43, 20, 218, 0.397);
}

.name__input {
    width: 260px;
    height: 34px;
    margin-bottom: 25px;
}

.email__input {
    width: 260px;
    height: 34px;
    margin-bottom: 25px;
}

.tel__input {
    width: 260px;
    height: 34px;
    margin-bottom: 25px;
}

.pass__input {
    width: 260px;
    height: 34px;
    margin-bottom: 25px;
}

.checkbox {
    margin-top: 20px;
    margin-bottom: 10px;
}

.submit__inputt {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}
.submit__input {
    border: 0;
    outline: 0;
    margin: 0 auto;
    width: 260px;
    height: 34px;
    background-color: rgb(11 177 11);
    color: white;
    align-items: center;
    display: block;
}

.submit__input:focus {
    background-color: rgb(53 129 53);
}

.submit__input:hover {
    background-color: rgb(10 163 10);
    outline: o;
    cursor: pointer;
}